@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: Open Sans;
	src: url('./font/OpenSans-Light.ttf')
}

body {
	height: 100vh;
	width: 100vw;
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Open Sans;
	
}

.main-container {
    width: 100%;
	max-width: 40vw;
	height: 100%;
	max-height: 48vw;
	min-height: 48vw;
	background-color: black;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.container {
	width: 100%;
    max-width: 40vw;
	height: 100%;
    max-height: 45vw;
	min-height: 45vw;
    display: flex;
    justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.letter-container {
	width: 9.09%;
	height: 10%;
	text-align: center;
	line-height: 100%;
}

.letter {
	font-size: 3.5vw;
	font-weight: 100;
	line-height: 100%;
	color: #222222;
}

.minutes-container {
    width: 100%;
    max-width: 12vw;
    margin: auto;
    display: flex;
}

.minute-container {
    width: 100%;
    height: 100%;
    max-height: 3vw;
    min-height: 3vw;
    max-width: 3vw;
    text-align: center;
	line-height: 100%;
    display: flex;
    justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.minute-bubble {
    width: 1vw;
    height: 1vw;
    background-color: #222222;;
    border-radius: 50%;
    vertical-align: middle; 
    margin: auto;
}

.lit {
	color: white;
}

.litbubble {
    background-color: white;
}